# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
model.joblib

# Logs
*.log
api_usage.log

# MLflow (regenerated on each run)
mlruns/

# OS files
.DS_Store
Thumbs.db

